ARRAYS

In [ ]:
# Import du module numpy sous l'alias 'np'
import numpy as np

# Création d'une matrice de dimensions 5x10 remplie de zéros
X = np.zeros(shape = (5, 10))

# Création d'une matrice à 3 dimensions 3x10x10 remplie de uns
X = np.ones(shape = (3, 10, 10))

# Création d'un array à partir d'une liste définie en compréhension
X = np.array([2*i for i in range(10)])    # 0, 2, 4, 6, ..., 18

# Création d'un array à partir d'une liste de listes
X = np.array([[1, 3, 3],
              [3, 3, 1],
              [1, 2, 0]])

# Création d'une matrice de dimensions 10x10 remplie de uns
X = np.ones(shape = (10, 10))

# affichage de l'élément à l'index (4, 3)
print(X[4, 3])

# assignation de la valeur -1 à l'élément d'index (1, 5)
X[1, 5] = -1

# Insérez votre code ici

X = np.zeros(shape = (6, 6))

for i in range(6):
    X[i,:] = np.array([0, 1, 2, 3, 4, 5])

X = np.array([i/100 for i in range(100)])  # 0, 0.01, 0.02, 0.03, ..., 0.98, 0.99

# Calcul de l'exponentielle de x pour x = 0, 0.01, 0.02, 0.03, ..., 0.98, 0.99
exp_X = np.exp(X)


'''
Comme vous pouvez le voir, le temps de calcul avec une boucle for est extrêmement long.

C'est pourquoi il est toujours préférable d'effectuer des calculs sur des matrices à l'aide de numpy plutôt qu'avec des boucles. Ce sera le cas lorsque nous feront des statistiques sur des données.
''''
#avec for
def f_python(X):
    n = X.shape[0]
    for i in range(n):
        X[i] = np.exp(np.sin(X[i]) + np.cos(X[i]))

#avec numpy
X = np.array([i/100 for i in range(100)])

def f(X):
    return np.exp(np.sin(X) + np.cos(X))

print(f(X))

In [ ]:
X = np.array([[-1, 0, 30],
              [-2, 3, -5],
              [5, -5, 10]])

# On assigne à tous les éléments négatifs la valeur 0
X[X<0] = 0

# Affichage de la matrice modifiée
print(X)

Ceci permet d'accéder et modifier facilement des éléments qui respectent une condition spécifique.

De plus, il est possible d'indexer un array à l'aide d'une condition évaluée sur un autre array :


# Création de 2 arrays à 8 éléments
X = np.array([3, -7, -10, 3, 6, 5, 2, 9])

y = np.array([0, 1, 1, 1, 0, 1, 0, 0])

# On assigne la valeur -1 aux éléments de X pour lesquels la valeur de y à l'indice correspondant vaut 1
X[y == 1] = -1

# Affichage de X
print(X)
>>> [3 -1 -1 -1 6 -1 2 9]

# Affichage des éléments de X pour lesquels la valeur de y à l'indice correspondant vaut 0
print(X[y == 0])
>>> [3 6 2 9]

SyntaxError: ignored

In [ ]:
Appliquer une des opérations arithmétiques de base (/, *, -, +, **) entre un tableau et une valeur, appliquera l'opération à chacun des éléments du tableau.
Il est également possible de faire une opération arithmétique entre deux tableaux. Cela appliquera l'opération entre chaque paire d'éléments.
# Création de deux arrays à 2 valeurs
a = np.array([4, 10])
b = np.array([6, 7])

# Multiplication entre deux arrays
print(a * b)
>>> [24 70]


>>> for count, value in enumerate(values):
...     print(count, value)


(a) Importer le package numpy sous le nom np.
(b) Créer un array de dimensions 10x4 rempli de 1.
(c) À l'aide d'une boucle for et de la fonction enumerate, multiplier chaque ligne par son indice. Afin de modifier la matrice, il faut que vous y accédiez par indexation.

import numpy as np

M = np.ones((10,4))

# Pour chaque ligne de la matrice M
for i, row in enumerate(M):
    # On multiplie la ligne par son indice
    M[i, :] = row * i
    # Alternativement M[i, :] *= i

print(M)


M = np.array([[5, 1],
              [3, 0]])

N = np.array([[2, 4],
              [0, 8]])

# Produit matriciel entre les deux arrays
print(M.dot(N))
>>> [[10 28]
>>>  [ 6 12]]

In [ ]:
def puissanceA(n):
    # A est initialisé à la matrice identité
    A = np.array([[1, 0],
                  [0, 1]])

    # Cette matrice B servira à calculer les puissances de A
    B = np.array([[1, -1],
                  [-1, 1]])

    # On mutlpilie A par B n fois pour obtenir A**n
    for i in range(n):
        A = A.dot(B)

    return A

print("A**2: \n", puissanceA(2), "\n")
print("A**3: \n", puissanceA(3), "\n")
print("A**4: \n", puissanceA(4), "\n")

print("Une formule générale de A**n est donné par:")
print("[2**(n-1), -2**(n-1)]")
print("[-2**(n-1), 2**(n-1)]")

In [ ]:
# Insérez votre code ici

#nornlaiser la matrice
# La normalisation Min-Max est une méthode qui s'utilise pour rééchelonner les variables d'une base de données dans la plage  [0,1]

import numpy as np

X = np.array([[24,1.88],
            [18,1.68],
            [14,1.65]])


X2 = (X-np.min(X, axis = 0))/((np.max(X, axis = 0)-np.min(X, axis = 0)))

print(X2)

In [ ]:
A = np.array([[1, 1, 10],
              [3, 5, 2]])

# Calcul de la moyenne sur TOUTES les valeurs de X
print(A.mean())
>>> 3.67

# Calcul de la moyenne sur les COLONNES de X
print(A.mean(axis = 0))
>>> [2. 3. 6.]

# Calcul de la moyenne sur les LIGNES de X
print(A.mean(axis = 1))
>>> [4. 3.33]

In [ ]:
def mean_squared_error(X, beta, y):
    # Calcul de ^y
    y_hat = X.dot(beta)

    # Calcul de l'erreur quadratique (^y_i - y_i)**2
    mse = (y_hat - y)**2

    # On fait la moyenne de l'erreur pour obtenir la MSE
    mse = mse.mean()

    return mse

In [ ]:
X = np.array([24,
              18,
              14])

y = np.array([1.88,
              1.68,
              1.65])

# Liste contenant les mse
errors = []

# Liste contenant les betas à tester
betas = np.linspace(start = 0.01, stop = 0.15, num = 15)

# Pour beta allant de 0.01 à
for beta in betas:
    errors.append(mean_squared_error(X, beta, y))

In [ ]:
# Array contenant les MSE pour chaque beta
errors = np.array(errors)

# Liste contenant les betas que nous avons testé
betas = np.linspace(start = 0.01, stop = 0.15, num = 15)

# Indice de la MSE minimale
index_beta_optimal = errors.argmin()

# On récupère le beta optimal grâce à l'indice
beta_optimal = betas[index_beta_optimal]

print("Le beta optimal est:", beta_optimal)

In [ ]:
# Importation du module pandas sous le nom pd
import pandas as pd

# Chargement de la base transactions
transactions = pd.read_csv("transactions.csv", sep =',', index_col = "transaction_id")

# Affichage des 10 premières lignes de transactions
transactions.head(10)

In [ ]:
# On peut directement spécifier le nom de la colonne contenant les indices

transactions = pd.read_csv(filepath_or_buffer = 'transactions.csv',    # chemin du fichier
                           sep = ',',                    # caractère séparant les valeurs
                           header = 0,                   # numéro de la ligne contenant le nom des colonnes
                           index_col = 'transaction_id') # nom de la colonne qui indexe les entrées


# On peut aussi directement renseigner le numéro de la colonne qui indexe les entrées

transactions = pd.read_csv(filepath_or_buffer = 'transactions.csv',
                           sep = ',',
                           header = 0,
                           index_col = 0)  # numéro de la colonne qui indexe les entrées

In [ ]:
transactions.head(20)
transactions.tail
transactions.shape

In [ ]:
df_last = df.drop_duplicates(keep = 'last')

In [ ]:
# Importation des données
transactions = pd.read_csv("transactions.csv", sep =',', index_col = "transaction_id")

# Suppression des doublons
transactions = transactions.drop_duplicates(keep = 'first')

## Exercice

import numpy as np

# Remplacement des modalités
transactions = transactions.replace(to_replace = ['e-Shop', 'TeleShop', 'MBR', 'Flagship store',  np.nan],
                                    value= [1, 2, 3, 4, 0])

# Conversion des types des colonnes
new_types = {'Store_type'       : 'int',
             'prod_subcat_code' : 'int'}

transactions = transactions.astype(new_types)

# Changement de nom des colonnes
new_names =  {'Store_type' : 'store_type',
              'Qty'        : 'qty',
              'Rate'       : 'rate',
              'Tax'        : 'tax'}

transactions = transactions.rename(new_names, axis = 1)

# Affichage des premières lignes de transactions
transactions.head()

In [ ]:
La date '28-02-2014' est une chaîne de caractères. Le jour, le mois et l'année sont séparées par un tiret '-'.
La classe des chaînes de caractères dispose de la méthode split pour découper une chaîne sur un caractère spécifique :

date = '28-02-2014'

# Découpage de la chaîne sur le caractère '-'
print(date.split('-'))
>>> ['28', '02', '2014']

es fonctions à appliquer à la colonne 'tran_date'
def get_day(date):
    """
    Prend en argument une date sous forme de chaîne de caractères.

    La date doit avoir le format 'JJ-MM-AAAA'.

    Cette fonction renvoie le jour (JJ).
        """

    # Découpage de la chaîne sur le caractère '-'
    splits = date.split('-')

    # On renvoie le premier élément du découpage (jour)
    day = splits[0]
    return day

def get_month(date):
    return date.split('-')[1]

def get_year(date):
    return date.split('-')[2]


# Application des fonctions
days = transactions['tran_date'].apply(get_day)
months = transactions['tran_date'].apply(get_month)
years = transactions['tran_date'].apply(get_year)

# Création des nouvelles colonnes
transactions['day'] = days
transactions['month'] = months
transactions['year'] = years

# Affichage des premières lignes de transactions
transactions.head()


#: or
transactions['day'] = transactions['tran_date'].apply(lambda date: date.split('-')[0])


# Using Dataframe.apply() to apply function to every row
def add(row):
   return row[0]+row[1]+row[2]

df['new_col'] = df.apply(add, axis=1)

# Using lambda function
df['new_col'] = df.apply(lambda row : row[0]+row[1]+row[2], axis=1)

In [ ]:
# On détecte les COLONNES contenant au moins une valeur manquante
df.isna().any(axis = 0)
>>> Nom      True
>>> Pays     False
>>> Age      True
# On détecte les LIGNES contenant au moins une valeur manquante
df.isna().any(axis = 1)
>>> 0     True
>>> 1    False
>>> 2    False
# On utilise l'indexation conditionnelle pour afficher les entrées
# contenant des valeurs manquantes

df[df.isna().any(axis = 1)]
ce qui renvoie le DataFrame :



Nom	Pays	Age
0	NaN	Australie	NaN
# On compte le nombre de valeurs manquantes pour chaque COLONNE
df.isnull().sum(axis = 0) #Les fonctions isnull et isna sont strictement équivalentes
>>> Nom     1
>>> Pays    0
>>> Age     1
# On compte le nombre de valeurs manquantes pour chaque LIGNE
df.isnull().sum(axis = 1)
>>> 0    2
>>> 1    0
>>> 2    0

In [ ]:
emplacement des valeurs manquantes (méthode fillna)
La méthode fillna permet de remplacer les valeurs manquantes d'un DataFrame par des valeurs de notre choix.

# On remplace tous les NANs du DataFrame par des zéros
 df.fillna(0)

# On remplace les NANs de chaque colonne numérique par la moyenne sur cette colonne
 df.fillna(df.mean())  # df.mean() peut être remplacée par n'importe quelle méthode statistique.
Il est courant de remplacer les valeurs manquantes d'une colonne de type numérique avec des statistiques comme :

La moyenne : mean.
La médiane : median.
Le minimum/maximum : min/max.
Pour les colonnes de type catégorielle, on remplacera les valeurs manquantes avec :

Le mode, i.e. la modalité la plus fréquente : mode.
Une constante ou catégorie arbitraire : 0, -1.
Pour éviter de faire des erreurs de remplacement, il est fortement conseillé de sélectionner les bonnes colonnes avant d'utiliser la méthode fillna.

Si vous faites des erreurs dans l'exercice suivant, vous pouvez réimporter transactions à l'aide de la cellule suivante :

In [ ]:
L'en-tête de la méthode est la suivante : dropna(axis, how, subset, ..)

Le paramètre axis précise si on doit supprimer des lignes ou des colonnes (0 pour les lignes, 1 pour les colonnes).
Le paramètre how permet de préciser comment les lignes (ou les colonnes) sont supprimées :
how = 'any': On supprime la ligne (ou colonne) si elle contient au moins une valeur manquante.
how = 'all' : On supprime la ligne (ou colonne) si elle ne contient que des valeurs manquantes.
Le paramètre subset permet de préciser les colonnes/lignes sur lesquelles on effectue la recherche de valeurs manquantes.
Exemple :
# On supprime toutes les lignes contenant au moins une valeur manquante
df = df.dropna(axis = 0, how = 'any')

# On supprime les colonnes vides
df = df.dropna(axis = 1, how = 'all')

# On supprime les lignes ayant des valeurs manquantes dans les 3 colonnes 'col2','col3' et 'col4'
 df.dropna(axis = 0, how = 'all', subset = ['col2','col3','col4'])

In [ ]:
customer = pd.read_csv('customer.csv')
prod_cat_info = pd.read_csv('prod_cat_info.csv')

#fill with mode (most often value seen)
customer['Gender'] = customer['Gender'].fillna(customer['Gender'].mode()[0])
customer['city_code'] = customer['city_code'].fillna(customer['city_code'].mode()[0])

Conclusion et récap
Dans ce chapitre nous avons vu les méthodes essentielles du module pandas afin de nettoyer un dataset et gérer les valeurs manquantes (NaN).

Cette étape de préparation d'un dataset est toujours la première étape d'un projet data.

Concernant le nettoyage des données, nous avons ainsi appris à :

Repérer et supprimer les doublons d'un DataFrame grâce aux méthodes duplicated et drop_duplicates.
Modifier les éléments d'un DataFrame et leur type à l'aide des méthodes replace, rename et astype.
Appliquer une fonction à un DataFrame avec la méthode apply et la clause lambda.
Concernant la gestion des valeurs manquantes, nous avons appris à :

Les détecter grâce à la méthode isna suivie des méthodes any et sum.
Les remplacer à l'aide de la méthode fillna et des méthodes statistiques.
Les supprimer grâce à la méthode dropna.
Dans le notebook suivant, vous verrez d'autres manipulations de DataFrame pour une exploration des données plus avancées.

In [ ]:
# Séparation du DataFrame transactions
part_1 = transactions[transactions.columns[:4]]
part_2 = transactions[transactions.columns[4:]]

# Reconstitution du DataFrame transactions par concaténation
union = pd.concat([part_1,part_2], axis = 1)

In [ ]:

# Filtrage du DataFrame sur les 2 conditions précédentes
print(df[(df['annee'] == 1979) & (df['surface'] > 60)])
>>>           quartier  annee  surface
>>> 0  Champs-Elysées   1979       70
Les conditions doivent être renseignées entre parenthèses pour éliminer l'ambigüité sur l'ordre d'évaluation des conditions.
En effet, si les conditions ne sont pas proprement séparées, nous obtiendrons l'erreur suivante :

print(df[df['annee'] == 1979 & df['surface'] > 60])
>>> ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

# Filtrage du DataFrame sur les 2 conditions précédentes: Si nous souhaitons retrouver un appartement qui date d'après 1900 ou qui est situé dans le quartier de Père-Lachaise, nous pouvons filtrer les lignes de df avec le code suivant :
print(df[(df['année'] > 1900) | (df['quartier'] == 'Père-Lachaise')])

Si nous souhaitons un appartement ne se situant pas dans le quartier de Bercy alors on filtre df de la manière suivante :


# Filtrage du DataFrame sur les 2 conditions précédentes
print(df[-(df['quartier'] == 'Bercy')])

ramètre how peut prendre 4 valeurs ('inner', 'outer', 'left', 'right') que nous allons illustrer sur les deux DataFrames nommés Personnes et Vehicule suivants :

Nom	Voiture
Lila	Twingo
Tiago	Clio
Berenice	C4 Cactus
Joseph	Twingo
Kader	Swift
Romy	Scenic
Voiture	Prix
Twingo	11000
Swift	14500
C4 Cactus	23000
Clio	16000
Prius	30000
- 'inner' : La jointure interne retourne les lignes dont les valeurs dans les colonnes communes sont présentes dans les deux DataFrames. Ce type de jointure est souvent déconseillé car il peut amener à la perte de beaucoup d'entrées. Par contre, la jointure interne ne produit aucun NaN.
Le résultat de la jointure interne Personnes.merge(right = Vehicule, on = 'Voiture', how = 'inner') sera :



- 'outer' : La jointure externe fusionne la totalité des deux DataFrames. Aucune ligne ne sera supprimée. Cette méthode peut générer énormément de NaNs.
Le résultat de la jointure externe Personnes.merge(right = Vehicule, on = 'Voiture', how = 'outer') sera :



- 'left' : La jointure à gauche retourne toutes les lignes du DataFrame de gauche, et les complète avec les lignes du second DataFrame qui coïncident selon les valeurs de la colonne commune. C'est la valeur par défaut du paramètre how.
Le résultat de la jointure à gauche Personnes.merge(right = Vehicule, on = 'Voiture', how = 'left') sera :



- 'right' : La jointure à droite retourne toutes les lignes du DataFrame de droite, et les complète avec les lignes du DataFrame de gauche qui coïncident selon les indices de la colonne commune.
Le résultat de la jointure à droite Personnes.merge(right = Vehicule, on = 'Voiture', how = 'right') sera :



Faire une jointure à gauche, une jointure à droite ou une jointure externe suivie d'un dropna(how = 'any') est équivalent à une jointure interne.

In [ ]:
# On renomme la colonne 'customer_Id' en 'cust_id' pour faire la fusion
customer = customer.rename(columns = {'customer_Id':'cust_id'})

# Jointure à gauche entre transactions et customer sur la colonne 'cust_id'
fusion = transactions.merge(right = customer, on = 'cust_id', how = 'left')

# La fusion n'a produit aucun NaN
fusion.isna().sum()

# Les colonnes DOB, Gender, city_code ont bien été ajoutées à transactions
fusion.head()

In [ ]:
On peut définir la colonne 'Nom' comme étant le nouvel index :

df = df.set_index('Nom')

# On récupère l'index de transactions
new_index = transactions.index

# On définit le nouvel index de fusion
fusion = fusion.set_index(new_index)
fusion.head()

In [ ]:
import numpy as np

n_modalities = lambda store_type: len(np.unique(store_type))

functions_to_apply = {
    # Les méthodes statistiques classiques peuvent être renseignées avec
    # chaines de caractères
    'total_amt' : ['min', 'max', 'sum'],
    'store_type' : n_modalities
}

transactions.groupby('cust_id').agg(functions_to_apply)

# Quantité maximale
max_qty = lambda qty: qty[qty > 0].max()

# Quantité minimale
min_qty = lambda qty: qty[qty > 0].min()

# Quantité médiane
median_qty = lambda qty : qty[qty > 0].median()

# Définition du dictionnaire de fonctions à appliquer
functions_to_apply = {
    'qty' : [max_qty, min_qty, median_qty]
}

# Operation groupby
qty_groupby = transactions.groupby('cust_id').agg(functions_to_apply)

# Pour un meilleur affichage, on peut renommer les colonnes produite par le groupby
qty_groupby.columns.set_levels(['max_qty', 'min_qty', 'median_qty'], level=1, inplace = True)

# Affichage des premières lignes du Dataframe produit par l'opération groupby
qty_groupby.head()

In [ ]:
Filtrer les lignes d'un DataFrame avec plusieurs conditions grâce aux opérateurs binaires &, | et - :
# Année égale à 1979 et surface supérieure à 60
df[(df['annee'] == 1979) & (df['surface'] > 60)]

# Année supérieure à 1900 ou quartier égal à 'Père-Lachaise'
df[(df['année'] > 1900) | (df['quartier'] == 'Père-Lachaise')]

Fusionner des DataFrames grâce à la fonction concat et la méthode merge :
# Concaténation verticale
pd.concat([df1, df2], axis = 0)

# Concaténation horizontal
pd.concat([df1, df2], axis = 1)

# Différents types de jointures
df1.merge(right = df2, on = 'column', how = 'inner')
df1.merge(right = df2, on = 'column', how = 'outer')
df1.merge(right = df2, on = 'column', how = 'left')
df1.merge(right = df2, on = 'column', how = 'right')

Trier et ordonner les valeurs d'un DataFrame grâce aux méthodes sort_values et sort_index :
# Tri d'un DataFrame par la colonne 'column' dans l'ordre croissant
df.sort_values(by = 'column', ascending = True)

Effectuer une opération groupby complexe grâce aux fonctions lambda et aux méthodes groupby et agg :
functions_to_apply = {
    'column1' : ['min', 'max'],
    'column2' : [np.mean, np.std],
    'column3' : lambda x: x.max() - x.min()
    }

df.groupby('column_to_group_by').agg(functions_to_apply)

In [ ]:
import pandas as pd
import numpy as np

# Create a sample DataFrame
data = {
    'column_to_group_by': ['A', 'A', 'B', 'B', 'C', 'C'],
    'numeric_column1': [10, 20, 30, 40, 50, 60],
    'numeric_column2': [2, 4, 6, 8, 10, 12],
    'numeric_column3': [100, 200, 300, 400, 500, 600],
    'string_column': ['X', 'Y', 'Z', 'X', 'Y', 'Z']
}
df = pd.DataFrame(data)

# Group by 'column_to_group_by' and calculate the mean of 'numeric_column'
mean_grouped = df.groupby('column_to_group_by').agg({'numeric_column1': 'mean'})
print("Mean Grouped:")
print(mean_grouped)

# Group by 'column_to_group_by' and 'string_column' and calculate the sum of 'numeric_column'
sum_grouped = df.groupby(['column_to_group_by', 'string_column']).agg({'numeric_column1': 'sum'})
print("\nSum Grouped:")
print(sum_grouped)

# Group by 'column_to_group_by' and calculate the sum of 'numeric_column1',
# the mean of 'numeric_column2', and the maximum value of 'numeric_column3'
multiple_grouped = df.groupby('column_to_group_by').agg({
    'numeric_column1': 'sum',
    'numeric_column2': 'mean',
    'numeric_column3': 'max'
})
print("\nMultiple Grouped:")
print(multiple_grouped)

# Group by 'column_to_group_by' and apply custom aggregation functions
custom_grouped = df.groupby('column_to_group_by').agg({
    'numeric_column1': [np.sum, np.mean],
    'string_column': lambda x: ','.join(x)
})
print("\nCustom Grouped:")
print(custom_grouped)

Mean Grouped:
                    numeric_column1
column_to_group_by
A                              15.0
B                              35.0
C                              55.0

Sum Grouped:
                                  numeric_column1
column_to_group_by string_column
A                  X                           10
                   Y                           20
B                  X                           40
                   Z                           30
C                  Y                           50
                   Z                           60

Multiple Grouped:
                    numeric_column1  numeric_column2  numeric_column3
column_to_group_by
A                                30              3.0              200
B                                70              7.0              400
C                               110             11.0              600

Custom Grouped:
                   numeric_column1       string_column
                               sum  mean      <lambda>
column_to_group_by
A                               30  15.0           X,Y
B                               70  35.0           Z,X
C                              110  55.0           Y,Z

In [ ]:
Produits.loc[Produits['Categorie'] == 'Categorie 2', 'Prix unitaire']

	Index	Nom_Produit	Categorie	Cout unitaire	Prix unitaire
0	1	Produit 1	Categorie 2	1441.73	2304.64
1	2	Produit 2	Categorie 3	1418.57	2285.53
2	3	Produit 3	Categorie 1	1416.31	2194.

In [ ]:

all_content = pd.merge(df_netflix, df_imdb, left_on = ['title','release_year'] , right_on = ['primaryTitle','startYear'])

In [ ]:
# si il y action dans la cell
#(g) Add to all_content an "is_action" column which will take the value True if a content belongs to the Action category, and False otherwise.
all_content['is_action'] = all_content['listed_in'].apply(lambda x : 'Action' in x)


#(h) Extract from all_content a DataFrame named all_movies, containing only movies (contents of type "Movie").
all_movies = all_content[ all_content['type'] == 'Movie']
#or
all_movies = all_movies.loc[all_movies['type'] == 'Movie', ,:]

#  Create, from the "duration" variable, a new "duration_int" variable in all_movies, where the last four characters will be truncated. Convert the type of the "duration_int" variable to int.
all_movies['duration_int'] = all_movies['duration'].apply(lambda x: x[:-4]).astype(int)

# ATTENTION TO BOOLEANS, are not strings !!!!!
us_movies = all_movies[(all_movies['country'] == 'United States') & (all_movies['duration_int']< 160) & (all_movies['is_action'])]


plt.figure(figsize = (10,10))
us_movies = all_movies[(all_movies['country'] == 'United States') & (all_movies['duration_int']< 160) & (all_movies['is_action'])]

duration = us_movies['duration_int']
avg_rating = us_movies['averageRating']
sns.lineplot(duration,avg_rating)

#or
sns.lineplot(x='duration_int', y='averageRating', data = us_movies)

In [ ]:
##CAREFUL

S = pd.Series(["hello friend", "hello world", "hi"])
S.str.split(' ', expand=True).stack().reset_index(drop=True)

In [ ]:
all_content['year'] = pd.to_datetime(all_content['date_added']).dt.year


#Display in a graph the evolution curve of the number of contents added to the Netflix catalog. We will differentiate the type of content.



sns.lineplot(x = 'year', y = 'show_id',data = all_content.groupby(['year']).count())

#if you want by type
sns.lineplot(x = 'year', y='show_id', hue ='type' , data =  all_content.groupby(['type','year']).count())

In [ ]:
# Réponses :

# a)
regions.head(10)

# b)
regions['Region'] = regions['Region'].apply(lambda x : x.upper())
regions['Ville'] = regions['Ville'].apply(lambda x : x.upper())

# c)
## Affiche les différentes valeurs prises par la variable Region
print(regions['Region'].unique())

## Remplace en suivant le tableau de conversion
regions.replace({'LANGUEDOC-ROUSSILLON' : 'OCCITANIE',
                 ' AQUITAINE' : 'NOUVELLE-AQUITAINE', 'POITOU-CHARENTES': 'NOUVELLE-AQUITAINE',
                 'RHONE-ALPES' : 'AUVERGNE-RHONE-ALPES'},
               inplace = True)

# d)
## Affiche les différentes valeurs prises par la variable Ville
print(regions['Ville'].unique())

## On s'aperçoit que "RENES" et "PERPINAN" sont mals orthographiés, et que "PARIS LA DÉFENSE" fait doublon avec "PARIS"
regions.replace({'RENES' : 'RENNES',
                 ' PERPINAN' : 'PERPIGNAN',
                 'PARIS LA DEFENSE' : 'PARIS'},
               inplace = True)

# e)
Ventes_2017.head()
Ventes_2018.head()
Ventes_2019.head()
# En 2017, les Id Clients ne sont pas représentés au même format que pour les années suivantes.
# Il s'agit de chaînes de caractères contenant le préfixe 'Id' avant le numéro client.

# f)
Ventes_2017['Id Client'] = Ventes_2017['Id Client'].apply(lambda x : x[2:]).astype(int)

# g)
print("produits vendus en 2017 ;", sorted(Ventes_2017['Id Produit'].unique()))
print("produits vendus en 2018 :", sorted(Ventes_2018['Id Produit'].unique()))

# Les produits d'Id 2, 7, 8 et 11 ont été ajouté au catalogue en 2018

# Autre méthode à l'aide des ensembles (utiles si vous avez beaucoup de produits différents) :
# A = set(Ventes_2017['Id Produit'])
# B = set(Ventes_2018['Id Produit'])
# B - A

# h)
Ventes_2018['Date de Commande'] = pd.to_datetime(Ventes_2018['Date de Commande'])
Ventes_2018['Date de Livraison'] = pd.to_datetime(Ventes_2018['Date de Livraison'])

Ventes_2019['Date de Commande'] = pd.to_datetime(Ventes_2019['Date de Commande'])
Ventes_2019['Date de Livraison'] = pd.to_datetime(Ventes_2019['Date de Livraison'])

# i)
Ventes_2017.duplicated().sum()
Ventes_2018.duplicated().sum()
Ventes_2019.duplicated().sum()
Ventes_2018.drop_duplicates(inplace = True)

# j)
Ventes_globales = pd.concat([Ventes_2017,Ventes_2018,Ventes_2019])

# k)
Ventes_globales['Jour de Livraison'] = Ventes_globales['Date de Livraison'].dt.weekday
Ventes_globales['Mois de Commande'] = Ventes_globales['Date de Commande'].dt.month

# l)
Ventes_globales["Nouveaux Produits"] = Ventes_globales['Date de Commande'].dt.year==(2018|2019)

# m)
produits['Categorie'] = produits['Categorie 1'] + 2*produits['Categorie 2'] + 3*produits['Categorie 3']
produits.head()

# n)
produits['Categorie'] = produits["Categorie"].astype('str')
produits.drop(['Categorie 1', 'Categorie 2', 'Categorie 3'], axis=1, inplace=True)